{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://use.fontawesome.com/releases/v5.0.10/css/all.css', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=latin-ext', 98) %}
        {% do assets.addCss('theme://css/app.css', 97) %}
    {% endblock %}
    {{ assets.css() }}
    <script>

    </script>
    {% block javascripts %}
        {% do assets.addJs('theme://node_modules/jquery/dist/jquery.min.js') %}
        {% do assets.addJs('theme://node_modules/bootstrap/dist/js/bootstrap.min.js') %}
        {% do assets.addJs('theme://node_modules/owl.carousel/dist/owl.carousel.min.js') %}
        {% do assets.addJs ('theme://js/app.js') %}
        {% do assets.addJs ('https://maps.googleapis.com/maps/api/js?key=AIzaSyBF0A7u8NfDWM-LaiAhhAQCq8Znr7V7o94') %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body>

{% block header %}
    <div class="container-fluid languages">
        {% include 'partials/langswitcher.html.twig' %}
    </div>
    <div class="container header">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-auto">
                <a href="{{ home_url }}">
                    <img src="{{ url("theme://images/logo.svg") }}" alt="CMZS">
                </a>
            </div>
            <div class="col-auto">
                <ul class="nav">
                    {% for page in pages.children %} {% set active = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="nav-item">
                        <a class="nav-link {{ active }}" href="{{ page.url }}">{{ page.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    {% block content %}
    {% endblock %}
{% endblock %}

{% include 'partials/footer.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}


</body>
</html>
