{% extends 'base.html.twig' %} 
{% block content %}
<div class="container-fluid slider ">   
    <img src="{{ url("theme://images/simple-logo.svg") }}" alt="" class="simple-logo">
    <div class="owl-carousel">   
        <div class="overlay">
            <img src="{{ url("theme://images/1.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/2.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/3.jpg") }}" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{ page.content }}
        </div>
    </div>
    {% include 'partials/contact.html.twig' %}
</div>

<div class="container-fluid no-padding">
    {% include 'partials/map.html.twig' %}
</div>


{% endblock %}
