{% extends 'base.html.twig' %} 
{% block content %}
<div class="container-fluid slider">   
    {# <img src="{{ url("theme://images/simple-logo.svg") }}" alt="" class="simple-logo"> #}
    <div class="owl-carousel">   
        <div class="overlay">
            <img src="{{ url("theme://images/2.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/3.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/4.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/5.jpg") }}" alt="">
        </div>
        <div class="overlay">
            <img src="{{ url("theme://images/IMG_2690.jpg") }}" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            {{ page.content }}
        </div>
    </div>

    {% for page in page.collection %}
       <h2>{{ page.title }}</h2>
       {{ page.content }}
       <form class="contact" action="https://formspree.io/antonijapek@gmail.com" method="POST">
       <div class="form-group">
           <label for="name">{{ page.header.name }}</label>
           <input name="ime" type="name" class="form-control" id="name" aria-describedby="name">
       </div>
       <div class="form-group">
           <label for="email">Email</label>
           <input name="_replyto" type="email" class="form-control" id="email" aria-describedby="email">
       </div>
       <div class="form-group">
         <label for="message">{{ page.header.message }}</label>
         <textarea name="poruka" class="form-control" id="message" rows="3"></textarea>
       </div>
       <div class="form-group text-center">
           <button type="submit" class="btn btn-outline-primary send-button">{{ page.header.cta }}</button>
       </div>
       </form>
    {% endfor %}

</div>

<div class="container-fluid no-padding">
    {% include 'partials/map.html.twig' %}
</div>


{% endblock %}
