{% extends 'base.html.twig' %} 
{% block content %}
<div class="container person">
    <div class="row">
        <div class="col">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.header.description }}</h2>

            {% if page.media.images|first %}
                {% set first_image = page.media.images|first %}
                <img src="{{ first_image.url }}" alt="{{ page.title }}" class="img-fluid">
                {{ page.content }}
            {% else %}
                {{ page.content }}
            {% endif %}

            {# {% set image = page.media['mar.jpg'] %}
            <img src="{{ image.url }}" alt="{{ page.title }}" class="img-fluid"> #}
        </div>
    </div>
</div>
{% endblock %}
