<div id="accordion">
  <div class="card">
    <div class="card-header" id="heading{{ page.header.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ page.header.id }}" aria-expanded="true" aria-controls="collapse{{ page.header.id }}">
            {{ page.title }}
        </button>
      </h5>
    </div>

    <div id="collapse{{ page.header.id }}" class="collapse show" aria-labelledby="heading{{ page.header.id }}" data-parent="#accordion">
      <div class="card-body">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>